.article{
    float: left;  
    width: 100%;    
}
.article-wrapper{
    float: left;     
    background: white;
    border: #3A464F 1px solid;
    border-radius: 5px;    
}
.article-title{
    float: left;  
    width: 100%;  
    margin: 0 0 1% 0;
    text-align: center;
    font-weight: bold;
}
.article-read-more{
    float: left;  
    width: 100%;
    text-align: center;
    margin: 1% 0 0 0;
}

.article-comments{
    float: left;  
    width: 100%;
    text-align: center;
    margin: 1% 0 0 0;
    font-weight: bold;
}
.article-comments a{
    background: #f8f8f8;
    color: black;
}

.article-comments a:visited{
    color: black;
}
.article-comments a:hover{
    color: #3071a9;
}
.footer{
    width: 100%;
    background: #888888;
}

.footer-long{
    width: 100%;
    background: #888888;
}

.article-tags{
    float: left;
    width: 100%;   
}

@media screen and (min-width: 1200px){
    .article-wrapper{
        width: 80%;
        margin: 15% 10% 2% 10%;
        padding: 1%;
    }    
    .article-wrapper img{
        max-width: 100%; 
    }
    article-wrapper table{
        width: 100%;
    }
    .footer{
        margin: 20% 0 0 0;
        height: 100px;
        text-align: center;
        color: white;
    }
    .footer-long{
        margin: 40% 0 0 0;
        height: 100px;
        text-align: center;
        color: white;
    }

}

@media screen and (max-width: 1200px){
    .article-wrapper{
        width: 80%;
        margin: 15% 10% 2% 10%;
        padding: 1%;
    }
    .article-wrapper img{
        max-width: 100%; 
    }
    .footer{
        margin: 20% 0 0 0;
        height: 100px;
        text-align: center;
        color: white;
    }
    .footer-long{
        margin: 40% 0 0 0;
        height: 100px;
        text-align: center;
        color: white;
    }
}

@media screen and (max-width: 800px){
    .article-wrapper{
        width: 90%;
        margin: 24% 5% 2% 5%;  
        padding: 1%;
    }
    .article-wrapper img{
        max-width: 100%; 
    }
    .footer{
        margin: 20% 0 0 0;
        height: 100px;
        text-align: center;
        color: white;
        font-size: 8pt;
    }
    .footer-long{
        margin: 50% 0 0 0;
        height: 100px;
        text-align: center;
        color: white;
        font-size: 8pt;
    }
}

@media screen and (max-width: 480px){
    .article-wrapper{
        width: 100%;
        margin: 30% 0 2% 0;
        padding: 1%;        
    }
    .article-wrapper img{
        max-width: 100%; 
    }
    .footer{
        margin: 20% 0 0 0;
        height: 100px;
        text-align: center;
        color: white;
        font-size: 8pt;
    }
    .footer-long{
        margin: 80% 0 0 0;
        height: 100px;
        text-align: center;
        color: white;
        font-size: 8pt;
    }
}