<!DOCTYPE html>
<html>
    <% include head%> 
    <body> 
<!-- Ulbora CMS Template and theme -->
        <div class="top-menu">
            <div class="top-menu-space">
                <div class="logo">Ken-Williamson.com</div>
                <div class="logo-img"><img alt="Ken-Williamson.com" src="img/kwilliamson_1.5.jpeg"/></div>
            </div>
            <div class="top-menu-menu">
                <nav>
                    <ul>
                        <li class=""><a href="/">Home</a></li>
                        <% for(var i=0; i<content.articleLocations.TopMenu.length; i++) {%>  
                            <li><a href="/article?id=<%= content.articleLocations.TopMenu[i]._id %>"><%= content.articleLocations.TopMenu[i].title %></a></li>           
                            
                        <% } %>  
                        <li class="activeLink"><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>   
        <div id="container" class="container">  
            <div class="login-outer-form-wrapper">
                <div class="login-form-wrapper">
                    <%if (loginFailed) { %>
                        <div class="failed-login"><%= message %></div>
                    <% } %>
                    <form action="/login" method="post">                        
                            <div class="login-label" >
                                <label for="username">Username:</label>
                            </div>
                            <div class="login-element">
                                <input type="text" name="username"/>                          
                            </div>
                            <div class="login-label">
                                <label for="username">Password</label>
                            </div>
                            <div class="login-element">
                                <input type="password" name="password"/>                          
                            </div>

                            <div class="login-button">
                                <button type="submit" class="">Sign In</button>
                            </div>
                    </form>   
                </div>
                <div class="login-links">
                    <div class="login-link-cell"><a href="/register">Register</a></div>
                    <div class="login-link-cell"><a href="/resetPassword">Reset Password</a></div>
                </div>
            </div>              
        </div>
        <div class="footer-long">
            Copyright 2014 Ken Williamson | Powered by Ulbora CMS
        </div>
    </body>
</html>
